  {% extends "layout.html" %}
  {% block main %}
  <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
    <h1>Budget</h1>
    <hr>
    <section>
      <br>
      <nav class="nav nav-tabs" id="myTab" role="tablist">
        <a class="nav-item nav-link active" id="nav-renevue-tab" data-toggle="tab" href="#nav-revenue" role="tab" aria-controls="nav-revenue" aria-selected="true">Revenue</a>
        <a class="nav-item nav-link" id="nav-expense-tab" data-toggle="tab" href="#nav-expense" role="tab" aria-controls="nav-expense" aria-selected="false">Expense</a>
        <a class="nav-item nav-link" id="nav-preview-tab" data-toggle="tab" href="#nav-preview" role="tab" aria-controls="nav-preview" aria-selected="false">Preview</a>
        <a class="nav-item nav-link" id="nav-hist-tab" data-toggle="tab" href="#nav-hist" role="tab" aria-controls="nav-hist" aria-selected="false">*Historical Data</a>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-revenue" role="tabpanel" aria-labelledby="nav-revenue-tab">
          <div class="container">
            <br>
            <form class="form" method="post" action="/{{ session.project_number[0] }}/item" >
              <label>What's the name of this item ?</label>
              <input id="name" name="name" class="form-control" placeholder="Name" required>
              <label >What's the price of this item ?</label>
              <input id="price" name="price" type="number" class="form-control" placeholder="Price" required>
              <label >How much does this cost for a single unit sold (percentage)?</label>
              <input id="cost" name="cost" type="number" min=0 max=100 class="form-control" placeholder="Cost?" required>
              <label >How many of units are expected to be sold per day ?</label>
              <input id="num" name="num" type="number" class="form-control" placeholder="How many?" required>
              <label> Expected monthly growth (percentage)? </label>
              <input id="inc" name="inc" type="number" min="0"  class="form-control" placeholder="Expected growth" required>
              <br>
              <input class="btn btn-primary" method = "post" type="submit" value="Add a new item"></input>
            </form>
            <br>
          </div>
          <div class="streamOfParts">
            {% if data[0] %}
            {% for i in data[0] %}
            <div class="card" style="margin-bottom: 20px;">
              <h2 class="card-heading streamName">Item name: {{ i[2] }}</h2>
              <div  class="streamPrice">Price:  {{ i[3] }}</div>
              <div  class="streamCost">Cost:  {{ i[4] }}%</div>
              <div  class="streamNum">Expected selling:  {{ i[5] }}</div>
              <div  class="streamInc">Expected Growth:  {{ i[6] }}%</div>
              <div hidden class='did'>{{  i[1]  }}</div>
              <div align="right" style="margin-bottom: 15px;">
                <!-- <input type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal" onclick="loadItem(this)" style="margin-right: 15px;margin-top:10px;float:right;width: 120px;" value="Edit"></input> -->
                <input type="button" class="btn btn-sm btn-danger" data-toggle="modal" onclick="deleteFunction(this)" style="margin-right: 15px;margin-top:10px;float:right;width: 120px;" value="Delete" data-target="#delConfirm"> </input>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
        
        <div class="tab-pane fade" id="nav-expense" role="tabpanel" aria-labelledby="nav-expense-tab">
          <div class="container">
            <br>
            {% if data[1][0] %}
            <form class="form" method="post" action="/{{ session.project_number[0] }}/budget/update">
              <h3>Labour cost:</h3>
              <h4>Monday:</h4>
              <label>Labour hours:</label><input type="number" value="{{ data[1][0][1] }}" id="monHours" name="monHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input type="number" value="{{ data[1][0][2] }}" id="monRate" name="monRate" class="form-control" placeholder="rate" required>
              <h4>Tuesday:</h4>
              <label>Labour hours:</label><input type="number" value="{{ data[1][0][3] }}" id="tueHours" name="tueHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input type="number" value="{{ data[1][0][4] }}" id="tueRate" name="tueRate" class="form-control" placeholder="rate" required>
              <h4>Wednesday:</h4>
              <label>Labour hours:</label><input type="number" value="{{ data[1][0][5] }}" id="wedHours" name="wedHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input  type="number" value="{{ data[1][0][6] }}" id="wedRate" name="wedRate" class="form-control" placeholder="rate" required>
              <h4>Thursday:</h4>
              <label>Labour hours:</label><input type="number" value="{{ data[1][0][7] }}" id="thuHours" name="thuHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input  type="number" value="{{ data[1][0][8] }}" id="thuRate" name="thuRate" class="form-control" placeholder="rate" required>
              <h4>Friday:</h4>
              <label>Labour hours:</label><input type="number" value="{{ data[1][0][9] }}" id="friHours" name="friHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input type="number" value="{{ data[1][0][10] }}" id="friRate" name="friRate" class="form-control" placeholder="rate" required>
              <h4>Saturday:</h4>
              <label>Labour hours:</label><input type="number" value="{{ data[1][0][11] }}" id="satHours" name="satHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input type="number" value="{{ data[1][0][12] }}" id="satRate" name="satRate" class="form-control" placeholder="rate" required>
              <h4>Sunday:</h4>
              <label>Labour hours:</label><input type="number" value="{{ data[1][0][13] }}" id="sunHours" name="sunHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input type="number" value="{{ data[1][0][14] }}" id="sunRate" name="sunRate" class="form-control" placeholder="rate" required>
              <hr>
              <h3>Rent(Annual):</h3>
              <label>Annual Rent:</label><input type="number" value="{{ data[1][0][15] }}" id="rent" name="rent" class="form-control" placeholder="Rent" required>
              <hr>
              <h3>Utilities(Monthly):</h3>
              <label>Electricity:</label><input type="number" value="{{ data[1][0][16] }}" id="elec" name="elec" class="form-control" placeholder="Electricity" required>
              <label>Gas:</label><input type="number" value="{{ data[1][0][17] }}" id="gas" name="gas" class="form-control" placeholder="Gas" required>
              <label>Water:</label><input type="number" value="{{ data[1][0][18] }}" id="water" name="water" class="form-control" placeholder="Water" required>
              <label>Wi-fi:</label><input type="number" value="{{ data[1][0][19] }}" id="wifi" name="wifi" class="form-control" placeholder="Wi-fi" required>
              <label>Telecommunications:</label><input type="number" value="{{ data[1][0][20] }}"  id="tele" name="tele" class="form-control" placeholder="Telecommunications" required>
              <hr>
              <h3>Insurance(Annual):</h3>
              <label>Contents:</label><input type="number" value="{{ data[1][0][21] }}" id="cont" name="cont" class="form-control" placeholder="Contents" required>
              <label>Public Liability:</label><input type="number" value="{{ data[1][0][22] }}" id="pub" name="pub" class="form-control" placeholder="Public Liability" required>
              <label>Others:</label><input type="number" value="{{ data[1][0][23] }}" id="other" name="other" class="form-control" placeholder="Others" required>
              <hr>
              <h3>Fitout:</h3>
              <label>Fitout Annual:</label><input type="number" value="{{ data[1][0][24] }}" id="fitout" name="fitout" class="form-control" placeholder="Fitout amount" required>
              <label>Depreciation Period(How many months?):</label><input type="number" value="{{ data[1][0][25] }}" id="dep" name="dep" class="form-control" placeholder="Depreciation period" required>
              <hr>
              <h3>Merchant Fee: </h3>
              <label>Merchant Fee(Percentage of monthly revenue):</label><input type="number" min="0" max="100" value="{{ data[1][0][26] }}" id="mer" name="mer" class="form-control" placeholder="Merchant Fee(percentage of monthly revenue)" required>
              <hr>
              <h3>Financing: </h3>
              <label>Equipment Financed:</label><input type="number" value="{{ data[1][0][27] }}"id="equip" name="equip" class="form-control" placeholder="Equipment Financing" required>
              <label>Acquisition Other Financing:</label><input type="number" value="{{ data[1][0][28] }}"id="acqui" name="acqui" class="form-control" placeholder="Acquisition Others Financing" required>
              <label>Bank Interst Rate(Annual):</label><input type="number" min="0" max="100" value="{{ data[1][0][29] }}"id="bankrate" name="bankrate" class="form-control" placeholder="Bank Interest Rate" required>
              <hr>
              <h3>Subscription: </h3>
              <label> Newspaper Subscription(Monthly):</label><input type="number" value="{{ data[1][0][30] }}"id="monnew" name="monnew" class="form-control" placeholder="Monthly Subscription Fee" required>
              <label> Digital Subscription(Monthly):</label><input type="number" value="{{ data[1][0][31] }}"id="mondig" name="mondig" class="form-control" placeholder="Monthly Subscription Fee" required>
              <hr>
              <h3>Marketing: </h3>
              <label>Social Media(Monthly):</label><input type="number" value="{{ data[1][0][32] }}"id="socmedia" name="socmedia" class="form-control" placeholder="Monthly Social Media marketing fee" required>
              <label>SEO(Monthly):</label><input type="number" value="{{ data[1][0][33] }}"id="seo" name="seo" class="form-control" placeholder="Monthly SEO fee" required>
              <hr>
              <h3>Professional fee: </h3>
              <label>Accountants(Monthly):</label><input type="number" value="{{ data[1][0][34] }}"id="account" name="account" class="form-control" placeholder="Monthly fee" required>
              <label>Bookkeeper(Monthly):</label><input type="number" value="{{ data[1][0][35] }}"id="bkeeper" name="bkeeper" class="form-control" placeholder="Monthly fee" required>
              <label>Legal(Monthly):</label><input type="number" value="{{ data[1][0][36] }}"id="legal" name="legal" class="form-control" placeholder="Monthly fee" required>
              <label>Consultants(Monthly):</label><input type="number" value="{{ data[1][0][37] }}"id="cont" name="cons" class="form-control" placeholder="Monthly fee" required>
              <hr>
              <h3>Other Expenses(General): </h3>
              <label>Other Expenses(Percentage):</label><input type="number" min="0" max="100" value="{{ data[1][0][38] }}"id="exps" name="exps" class="form-control" placeholder="Other expense Percentage" required>
              <br>
              <input class="btn btn-primary" method = "post" type="submit" value="Update"></input>
            </form>
            {% else %}
            <form class="form" method="post" action="/{{ session.project_number[0] }}/budget/update">
              <h3>Labour cost:</h3>
              <h4>Monday:</h4>
              <label>Labour hours:</label><input type="number"   id="monHours" name="monHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input type="number"  id="monRate" name="monRate" class="form-control" placeholder="rate" required>
              <h4>Tuesday:</h4>
              <label>Labour hours:</label><input type="number"   id="tueHours" name="tueHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input type="number"  id="tueRate" name="tueRate" class="form-control" placeholder="rate" required>
              <h4>Wednesday:</h4>
              <label>Labour hours:</label><input type="number"  id="wedHours" name="wedHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input  type="number"   id="wedRate" name="wedRate" class="form-control" placeholder="rate" required>
              <h4>Thursday:</h4>
              <label>Labour hours:</label><input type="number"   id="thuHours" name="thuHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input  type="number"   id="thuRate" name="thuRate" class="form-control" placeholder="rate" required>
              <h4>Friday:</h4>
              <label>Labour hours:</label><input type="number" id="friHours" name="friHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input type="number" id="friRate" name="friRate" class="form-control" placeholder="rate" required>
              <h4>Saturday:</h4>
              <label>Labour hours:</label><input type="number" id="satHours" name="satHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input type="number" id="satRate" name="satRate" class="form-control" placeholder="rate" required>
              <h4>Sunday:</h4>
              <label>Labour hours:</label><input type="number"  id="sunHours" name="sunHours" class="form-control" placeholder="hours" required>
              <label>Hourly rate:</label><input type="number"  id="sunRate" name="sunRate" class="form-control" placeholder="rate" required>
              <hr>
              <h3>Rent(Annual):</h3>
              <label>Annual Rent:</label><input type="number"  id="rent" name="rent" class="form-control" placeholder="Rent" required>
              <hr>
              <h3>Utilities(Annual):</h3>
              <label>Electricity:</label><input type="number" id="elec" name="elec" class="form-control" placeholder="Electricity" required>
              <label>Gas:</label><input type="number" id="gas" name="gas" class="form-control" placeholder="Gas" required>
              <label>Water:</label><input type="number" id="water" name="water" class="form-control" placeholder="Water" required>
              <label>Wi-fi:</label><input type="number"  id="wifi" name="wifi" class="form-control" placeholder="Wi-fi" required>
              <label>Telecommunications:</label><input type="number"    id="tele" name="tele" class="form-control" placeholder="Telecommunications" required>
              <hr>
              <h3>Insurance(Annual):</h3>
              <label>Contents:</label><input type="number"  id="cont" name="cont" class="form-control" placeholder="Contents" required>
              <label>Public Liability:</label><input type="number" id="pub" name="pub" class="form-control" placeholder="Public Liability" required>
              <label>Others:</label><input type="number"  id="other" name="other" class="form-control" placeholder="Others" required>
              <hr>
              <h3>Fitout:</h3>
              <label>Fitout Annual:</label><input type="number"  id="fitout" name="fitout" class="form-control" placeholder="Fitout amount" required>
              <label>Depreciation Period(How many months?):</label><input type="number"  id="dep" name="dep" class="form-control" placeholder="Depreciation period" required>
              <hr>
              <h3>Merchant Fee: </h3>
              <label>Merchant Fee(Percentage of monthly revenue):</label><input type="number" min="0" max="100"  id="mer" name="mer" class="form-control" placeholder="Merchant Fee(percentage of monthly revenue)" required>
              <hr>
              <h3>Financing: </h3>
              <label>Equipment Financed:</label><input type="number" id="equip" name="equip" class="form-control" placeholder="Equipment Financing" required>
              <label>Acquisition Other Financing:</label><input type="number" id="acqui" name="acqui" class="form-control" placeholder="Acquisition Others Financing" required>
              <label>Bank Interst Rate(Annual):</label><input type="number" min="0" max="100" id="bankrate" name="bankrate" class="form-control" placeholder="Bank Interest Rate" required>
              <hr>
              <h3>Subscription: </h3>
              <label> Newspaper Subscription(Monthly):</label><input type="number" id="monnew" name="monnew" class="form-control" placeholder="Monthly Subscription Fee" required>
              <label> Digital Subscription(Monthly):</label><input type="number" id="mondig" name="mondig" class="form-control" placeholder="Monthly Subscription Fee" required>
              <hr>
              <h3>Marketing: </h3>
              <label>Social Media(Monthly):</label><input type="number"  id="socmedia" name="socmedia" class="form-control" placeholder="Monthly Social Media marketing fee" required>
              <label>SEO(Monthly):</label><input type="number"  id="seo" name="seo" class="form-control" placeholder="Monthly SEO fee" required>
              <hr>
              <h3>Professional fee: </h3>
              <label>Accountants(Monthly):</label><input type="number"  id="account" name="account" class="form-control" placeholder="Monthly fee" required>
              <label>Bookkeeper(Monthly):</label><input type="number" id="bkeeper" name="bkeeper" class="form-control" placeholder="Monthly fee" required>
              <label>Legal(Monthly):</label><input type="number" id="legal" name="legal" class="form-control" placeholder="Monthly fee" required>
              <label>Consultants(Monthly):</label><input type="number"  id="cont" name="cons" class="form-control" placeholder="Monthly fee" required>
              <hr>
              <h3>Other Expenses(General): </h3>
              <label>Other Expenses(Percentage):</label><input type="number" min="0" max="100" id="exps" name="exps" class="form-control" placeholder="Other expense Percentage" required>
              <br>
              <input class="btn btn-primary" method = "post" type="submit" value="Update"></input>
              <br>
              <br>
            </form>
            
            {% endif %}
          </div>
        </div>
        
        
        <div class="tab-pane fade" id="nav-preview" role="tabpanel" aria-labelledby="nav-preview-tab">
          <br>
          {% if data[2]!= [] %}
          <table class="table table-sm table-bordered">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Month 1</th>
                <th>Month 2</th>
                <th>Month 3</th>
                <th>Month 4</th>
                <th>Month 5</th>
                <th>Month 6</th>
                <th>Month 7</th>
                <th>Month 8</th>
                <th>Month 9</th>
                <th>Month 10</th>
                <th>Month 11</th>
                <th>Month 12</th>
                <th>Total</th>
                <th>Percentage</th>
              </tr>
            </thead>
            <tbody>
              {% for j in range(0,data[2]['num']) %}
              <tr class="table-warning">
                <th scope="row">{{ data[0][j][2] }}</th>
                {% for i in (0,1,2,3,4,5,6,7,8,9,10,11) %}
                <td align="right">${{ data[2]['sell'][j][i] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['sum_sell'][j]}}</td>
              </tr>
              <tr>
                <th scope="row">COGS</th>
                {% for i in (0,1,2,3,4,5,6,7,8,9,10,11) %}
                <td align="right">${{ data[2]['cost'][j][i] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['sum_cost'][j]}}</td>
              </tr>
              <tr>
                <th scope="row">Gross Profit</th>
                {% for i in (0,1,2,3,4,5,6,7,8,9,10,11) %}
                <td align="right">${{ data[2]['gross_profit'][j][i] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['sum_gross_profit'][j]}}</td>
              </tr>
              {% endfor %}
              <tr>
                <th scope="row"> </th>
              </tr>
              <tr class="table-primary">
                <th scope="row">Total Sales</th>
                {% for i in (0,1,2,3,4,5,6,7,8,9,10,11) %}
                <td align="right">${{ data[2]['totalsell'][i] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['sum_totalsell']}}</td>
              </tr>
              <tr class="table-primary">
                <th scope="row">Total COGS</th>
                {% for i in (0,1,2,3,4,5,6,7,8,9,10,11) %}
                <td align="right">${{ data[2]['totalcost'][i] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['sum_totalcost']}}</td>
              </tr>
              <tr class="table-primary">
                <th scope="row">Total Gross Profit</th>
                {% for i in (0,1,2,3,4,5,6,7,8,9,10,11) %}
                <td align="right">${{ data[2]['totalgrossprofit'][i] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['sum_totalgrossprofit']}}</td>
              </tr>
              
              <tr>
                <th scope="row"> </th>
              </tr>
              <tr>
                <th scope="row"> </th>
              </tr>
              <tr>
                <th scope="row">Labour</th>
                {% for i in range(0,12) %}
                <td align="right">${{ data[2]['labour'] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['labour']*12 }}</td>
              </tr>
              <tr>
                <th scope="row">Rent</th>
                {% for i in range(0,12) %}
                <td align="right">${{ data[2]['rent'] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['rent']*12 }}</td>
              </tr>
              <tr>
                <th scope="row">Utility</th>
                {% for i in range(0,12) %}
                <td align="right">${{ data[2]['utility'] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['utility']*12}}</td>
              </tr>
              <tr>
                <th scope="row">Insurance</th>
                {% for i in range(0,12) %}
                <td align="right">${{ data[2]['insurance'] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['insurance']*12 }}</td>
              </tr>
              <tr>
                <th scope="row">merchant</th>
                {% for i in range(0,12) %}
                <td align="right">${{ data[2]['merchant'][i] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['sum_merchant']}}</td>
              </tr>
              <tr>
                <th scope="row">Financing expense</th>
                {% for i in range(0,12) %}
                <td align="right">${{ data[2]['financing'] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['financing']*12 }}</td>
              </tr>
              <tr>
                <th scope="row">Subscription</th>
                {% for i in range(0,12) %}
                <td align="right">${{ data[2]['subscription'] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['subscription']*12 }}</td>
              </tr>
              <tr>
                <th scope="row">Marketing</th>
                {% for i in range(0,12) %}
                <td align="right">${{ data[2]['marketing'] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['marketing']*12 }}</td>
              </tr>
              <tr>
                <th scope="row">Professional fee</th>
                {% for i in range(0,12) %}
                <td align="right">${{ data[2]['pro'] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['pro']*12 }}</td>
              </tr>
              <tr>
                <th scope="row">Other</th>
                {% for i in range(0,12) %}
                <td align="right">${{ data[2]['other'][i] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['sum_other'] }}</td>
              </tr>
              <tr class="table-primary">
                <th scope="row">Total Expenses</th>
                {% for i in (0,1,2,3,4,5,6,7,8,9,10,11) %}
                <td align="right">${{ data[2]['totalexpenses'][i] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['sum_totalexpenses']}}</td>
              </tr>
              <tr class="table-primary">
                <th scope="row">Net Profit</th>
                {% for i in (0,1,2,3,4,5,6,7,8,9,10,11) %}
                <td align="right">${{ data[2]['net_profit'][i] }}</td>
                {% endfor %}
                <td align="right">${{ data[2]['sum_netprofit']}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <div class="container">
            <h3> Selling line chart:</h3>
            <hr>
            <canvas style="width:500px;" id="myChart"></canvas>
            <h3> Expenditure pie chart:</h3>
            <hr>
            <canvas id="chart-area"></canvas>
            {% if data[3][0]!=[] %}
            <h3> Last year chart:</h3>
            <hr>
            <canvas id="firstyearchart"></canvas>
            {% endif %}
            {% if data[3][1]!= [] %}
            <h3> Second last year chart:</h3>
            <hr>
            <canvas id="secondyearchart"></canvas>
            {% endif %}
          </div>
          {% endif %}
        </div>
      
      <div class="tab-pane fade" id="nav-hist" role="tabpanel" aria-labelledby="nav-hist-tab">
          <div class="container">
            <br>
            {% if data[3][0] != [] %}
            <form class='form' action="/{{ session.project_number[0] }}/past" method="post">
            <h3>Last Year:</h3>
              <label>Sales:</label><input type="number" value="{{ data[3][0][0][1] }}" id="sales" name="sale" class="form-control"   required>
              <label>COGS:</label><input type="number" value="{{ data[3][0][0][2] }}" id="cogs" name="cogs" class="form-control"   required>
              <label>Revenue:</label><input type="number" value="{{ data[3][0][0][3] }}" id="revenue" name="revenue" class="form-control"  required>
              <label>Other Expenses:</label><input type="number" value="{{ data[3][0][0][4] }}" id="expense" name="expense" class="form-control"  required>
              <input name="table" value="firstyear" hidden>
              <br>
              <button class="btn btn-primary" type="submit" method="post" name="action" value="update">Update</button><button style="margin-left:20px;" class="btn btn-danger" type="submit" name="action" method="post" value="delete">Delete</button>
            </form>
            <hr>
            {% else %}
            <form action="/{{ session.project_number[0] }}/past" method="post">
                <h3>Last Year:</h3>
                  <label>Sales:</label><input type="number" value="" id="sale" name="sales" class="form-control"   required>
                  <label>COGS:</label><input type="number" value="" id="cogs" name="cogs" class="form-control"   required>
                  <label>Revenue:</label><input type="number" value="" id="revenue" name="revenue" class="form-control"  required>
                  <label>Other Expenses:</label><input type="number" value="" id="expense" name="expense" class="form-control"  required>
                  <input name="table" value="firstyear" hidden>
                  <br>
                  <button class="btn btn-primary" type="submit" method="post" name="action" value="update">Update</button><button style="margin-left:20px;" class="btn btn-danger" method="post" type="submit" name="action" value="delete">Delete</button>
                </form>
                <hr>
            {% endif %}
            {% if data[3][1] != [] %}
            <form action="/{{ session.project_number[0] }}/past" method="post">
              <h3>Second Last Year:</h3>
              <label>Sales:</label><input type="number" value="{{ data[3][1][0][1] }}" id="sale" name="sales" class="form-control" required>
              <label>COGS:</label><input type="number" value="{{ data[3][1][0][2] }}" id="cogs" name="cogs" class="form-control" required>
              <label>Revenue:</label><input type="number" value="{{ data[3][1][0][3] }}" id="revenue" name="revenue" class="form-control" required>
              <label>Other Expenses:</label><input type="number" value="{{ data[3][1][0][4] }}" id="expense" name="expense" class="form-control" required>
              <input name="table" value="secondyear" hidden>
              <br>
              <button class="btn btn-primary" type="submit" name="action" method="post" value="update">Update</button><button style="margin-left:20px;" class="btn btn-danger" method="post" type="submit" name="action" value="delete">Delete</button>
            </form>
            {% else %}
            <form action="/{{ session.project_number[0] }}/past" method="post">
                <h3>Second Last Year:</h3>
                <label>Sales:</label><input type="number" value="" id="sale" name="sales" class="form-control" required>
                <label>COGS:</label><input type="number" value="" id="cogs" name="cogs" class="form-control" required>
                <label>Revenue:</label><input type="number" value="" id="revenue" name="revenue" class="form-control" required>
                <label>Other Expenses:</label><input type="number" value="" id="expense" name="expense" class="form-control" required>
                <input name="table" value="secondyear" hidden>
                <br>
                <button class="btn btn-primary" method="post" type="submit" name="action" value="update">Update</button><button style="margin-left:20px;" class="btn btn-danger" method="post" type="submit" name="action" value="delete">Delete</button>
              </form>
            {% endif %}
            <br>
            <br>
        </div>
      </div>
    </div>
    </section>
    
    <section>
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTittle">Edit this section:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% if data %}
            <div class="modal-body" id="modalBody" >
              <form class="form" action="/{{ data[0][0] }}/item/update" method="post">
                <label>What's the name of this item ?</label>
                <input id="editName" name="name" class="form-control" placeholder="Name" required>
                <label >What's the price of this item ?</label>
                <input id="editPrice" name="price" class="form-control" placeholder="Price" required>
                <label >How much does this cost for a single unit sold (percentage)?</label>
                <input id="editCost" name="cost" class="form-control" placeholder="Cost?" required>
                <label >How many of units are expected to be sold per day ?</label>
                <input id="editNum" name="num" class="form-control" placeholder="How many?" required>
                <label> Expected monthly growth (percentage)? </label>
                <input id="editInc" name="inc" class="form-control" placeholder="Expected growth" required>
                <input hidden id="modalId" name="did"></input>
                <br>
                <input type="button" class="btn btn-secondary" value="Close" data-dismiss="modal"></input>
                <input type="submit" method="post" class="btn btn-primary" value="Save changes"></input>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="modal fade" id="delConfirm" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delTittle">DELETE</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% if data %}
            <div class="modal-body" id="delBody" >
              <p>Delete action is irreversible. Are you sure deleting this paragraph? </p>
              <form class="form" id="delForm" action="/{{ session.project_number[0] }}/item/delete" method="post">
                <input hidden id="delId" name="did"></input>
                <br>
                <input type="submit" form="delForm" value="Confirm" class="btn btn-sm btn-danger"></input>
                <input type="button" align="right" class="btn btn-secondary btn-sm" value="Cancel" data-dismiss="modal"></input>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script>
      var config = {
        type: 'pie',
        data: {
          datasets: [{
            data: [
            {{ data[2]['labour'] }},
            {{ data[2]['rent'] }},
            {{ data[2]['marketing'] }},
            {{ data[2]['insurance'] }},
            {{ data[2]['utility'] }},
            {{ data[2]['financing'] }},
            {{ data[2]['pro'] }},
            {{ data[2]['subscription'] }}
            ],
            backgroundColor: [
            "rgb(14,159,96)",
            "rgb(82,89,90)",
            "rgb(184,143,91)",
            "rgb(159,54,54)",
            "rgb(249,224,224)",
            "rgb(228,169,40)",
            "rgb(164,104,166)",
            "rgb(98,101,85)"
            ],
            label: 'Expenditure'
          }],
          labels: [
          "labour",
          "rent",
          "marketing",
          "insurance",
          "utility",
          "financing",
          "professional fee",
          "subscription"
          ]
        },
        options: {
          responsive: false
        }
      };
      window.onload = function() {
        var ctx2 = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx2, config);
      };
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["January", "February", "March", "April", "May", "June", "July","August","September","October","November","December"],
          datasets: [{
            label: "Net Profit",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ data[2]['net_profit'] }},
            fill: false
          }]
        },
        options: {
          responsive: false,
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }]
          }
        }
      });
      {% if data[3][0]!=[] %}
      var firstctx = document.getElementById('firstyearchart').getContext('2d');
      var firstchart = new Chart(firstctx, {
        type: 'bar',
        data: {
          labels: ["Sales", "COGS", "Revenue", "Expense"],
          datasets: [{
            label: "Overall of Last Year",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [
              {{ data[3][0][0][1] }},
              {{ data[3][0][0][2] }},
              {{ data[3][0][0][3] }},
              {{ data[3][0][0][4] }}
            ],
            fill: false
          }]
        },
        options: {
          responsive: false,
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }]
          }
        }
      });
      {% endif %}
      {% if data[3][1]!=[] %}
      var secondctx = document.getElementById('secondyearchart').getContext('2d');
      var secondchart = new Chart(secondctx, {
        type: 'bar',
        data: {
          labels: ["Sales", "COGS", "Revenue", "Expense"],
          datasets: [{
            label: "Overall of Second Last Year",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [
              {{ data[3][1][0][1] }},
              {{ data[3][1][0][2] }},
              {{ data[3][1][0][3] }},
              {{ data[3][1][0][4] }},
            ],
            fill: false
          }]
        },
        options: {
          responsive: false,
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }]
          }
        }
      });
      {% endif %}
    </script>
  </main>
  {% endblock %}
