{% extends "layout.html" %}
{% block main %}

<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" style="background-color:#e8ecfa;" role="main">
  <h1><i class="fa fa-paperclip" aria-hidden="true"></i> Info</h1>
  <section class="placeholders" >
    <div>
      <hr>
      {% if data[0] %}
      <form method="post">
        <blockquote>* Info page collects basic information about your business and company. All areas are required and submit button can be used to update information when required.</blockquote>
        <div class="form-group">
          <label>Company name</label>
          <input name="theName" value="{{ data[0][1] }}" type="text" class="form-control" placeholder="Company name" required="" autofocus="">
        </div>
        <div class="form-group">
          <label>Project name</label>
          <input name="projectName" value="{{ data[0][2] }}" type="text" class="form-control" placeholder="Project name" required="" autofocus="">
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input  name="theEmail" value="{{ data[0][3] }}" type="email" class="form-control" placeholder="Email" required="" autofocus="">
        </div>
        <div class="form-group">
          <label>Postal address</label>
          <input name="postAddr" value="{{ data[0][4] }}" type="address" class="form-control" placeholder="Postal Address" required="" autofocus"">
        </div>
        <div class="form-group">
          <label>Phone number</label>
          <input name="phoneNum" value="{{ data[0][5] }}" type="number" class="form-control" placeholder="Phone number" required="" autofocus"">
        </div>
        <div class="form-group">
          <label>Industry</label>
          <input name="theIndustry" value="{{ data[0][6] }}" class="form-control" placeholder="Industry" required="" autofocus="">
        </div>
        <input class="btn btn-outline-primary" method = "post" type="submit" value="Submit"></input>
        <hr>
      </form>
      {% else %}
      <form method="post">
        <blockquote>* Info page collects basic information about your business and company. All areas are required and submit button can be used to update information when required.</blockquote>
          <div class="form-group">
            <label>Company name</label>
            <input name="theName" type="text" class="form-control" placeholder="Company name" required="" autofocus="">
          </div>
          <div class="form-group">
            <label>Project name</label>
            <input name="projectName" type="text" class="form-control" placeholder="Project name" required="" autofocus="">
          </div>
          <div class="form-group">
            <label>Email address</label>
            <input  name="theEmail" type="email" class="form-control" placeholder="Email" required="" autofocus="">
          </div>
          <div class="form-group">
            <label>Postal address</label>
            <input name="postAddr" type="address" class="form-control" placeholder="Postal Address" required="" autofocus"">
          </div>
          <div class="form-group">
            <label>Phone number</label>
            <input name="phoneNum" type="number" class="form-control" placeholder="Phone number" required="" autofocus"">
          </div>
          <div class="form-group">
            <label>Industry</label>
            <input name="theIndustry" class="form-control" placeholder="Industry" required="" autofocus="">
            <hr>
          </div>
          <input class="btn btn-outline-primary" method = "post" type="submit" value="Submit"></input>
        </form>
        {% endif %}
    </div>
  </section>
</main>
{% endblock %}
